/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body{
    background-color: #1F1717;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background: #CE5A67;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
}
button{
    background-color: #F4BF96;
    padding: 20px;
    border-radius: 10px;
}
img{
    height: 150px;
    width: 150px;
    margin: 10px;
}
input.volume{
    height: 50px;
    width: 80%;
    /* background: linear-gradient(to right, #FCF5ED 0%, #FCF5ED 100%); */
    background: #FCF5ED;
    border: 1px solid #FCF5ED;
}